@media only screen and (max-width: 1400px) {
  .section-title {
    text-align: center;
  }
  #hero {
    .hero-left-col {
      width: 40%;
    }
    .hero-right-col {
      width: 60%;
    }
    .hero-button button {
      width: 330px;
    }
  }
  #price-list {
    .section-title {
      text-align: center;
    }
    .pricing-cols {
      flex-direction: column;
      gap: 100px;

      & > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pricing-first-col {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
      }
      .pricing-second-col {
        width: 100%;

        .page-pricing {
          height: fit-content;
        }
      }
    }
    .accessories div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1300px) {
  #hero {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .hero-left-col {
      width: 100%;
      margin-top: 100px;
    }
    .hero-right-col {
      width: 70%;
    }
  }
  #contact {
    .contact-cols {
      flex-direction: column;
      gap: 50px;

      padding-left: 50px;
      padding-right: 50px;

      .contact-left-col,
      .contact-right-col {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .contact-info > div {
          display: flex;
          justify-content: center;
        }
        .faq-content {
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .services-cards {
    .service-row {
      grid-template-columns: 1fr 1fr;
      height: fit-content;
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #how-it-works {
    .steps-root {
      .steps {
        flex-direction: column;
        gap: 0px;
        .step {
          width: 90% !important;
        }
        .arrow {
          display: none;
          height: 0px;
          margin: 0;
          padding: 0;
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .menu-slide-button {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  #hero {
    .hero-right-col {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .services-cards {
    .service-row {
      grid-template-columns: 1fr;
      height: fit-content;

      .card {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #hero {
    .hero-right-col {
      width: 100%;
    }
  }
  #price-list .pricing-cols .pricing-second-col .page-pricing {
    flex-direction: column;

    .page-pricing-title-desc,
    .page-pricing-title-desc,
    .page-pricing-price {
      width: 100%;
    }
    .page-pricing-price {
      display: flex;
      align-items: center;
      justify-content: center;

      .page-price {
        width: fit-content;
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #price-list {
    .accessories-title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .accessories-content {
      flex-direction: column;
      text-align: center;
      gap: 0px;

      .second-accessories-col {
        position: relative;
        top: -7px;
      }
    }
  }
}
