.first-section-title {
  font-size: 40px;
  font-weight: bold;
}
.first-section-title.blacked {
  color: black;
}
.second-section-title.blacked {
  color: rgb(66, 66, 66);
}
.first-section-title.whitened {
  color: white;
}
.second-section-title.whitened {
  color: rgb(189, 189, 189);
}
.second-section-title {
  font-size: 20px;
  font-weight: bold;
}
